<!doctype html>
<html lang="en">
  <head>
    <title>FLORAQUEEN</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include ./components/bootstrap.ejs %>
  </head>
  <body>
    <%- include('./components/navCustomer.ejs') %>
    <div class = "container" style ="margin-top: 75px;">
      <div class="col-md-12">
        <%- include ./components/slideHomePage.ejs %>
      </div>
      <div class="col-md-12" style="margin-top: 50px;">
        <div id ="cards" class="row"></div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">FLORAQUEEN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Contact hotline: 0999999999 to order
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        adminGetProducts((err,data)=>{
          console.log(data);
          const Items = data.data.Items;
          const length = data.data.Count;
          var html = '';
          for (var i = 0; i< length; i++){
            const {productId,name,price,des,image_url,sale} = Items[i];
            var saleStr  = `-${sale}%`;
            var priceHtml = '';
            console.log(price.toLocaleString());
            if (sale > 0){
              var priceAfterSale = price - sale*price/100;
              priceHtml = `
              <p class="price">${priceAfterSale.toLocaleString()}đ
                <span class="percent">-${sale}%</span>
              </p>
              <p class="original">${price.toLocaleString()}đ</p>
              `
            }
            else {
              priceHtml =`<p class="price">${price.toLocaleString()}đ</p>`
            }
            html += `
                <div class="col-md-6" style="margin-top: 20px">
                    <div class="card">
                        <a href="#">
                          <img class="card-img-top" src="${image_url}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">${name}</h5>
                            <div class="card-text">${priceHtml}</div>
                            <p class="card-text"><div class="card-des">${des}</div></p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Buy Now</button>
                        </div>
                    </div>
                </div>
              `;
          }
          $('#cards').html(html);
          $('.buy-now').click(()=>{
            alert("hehe")
          })
        })

      })
    </script>
    <%- include ./components/footerAdmin.ejs %>
  </body>
</html>